html, body {
    text-align: center;
    margin:0;
    padding:0;
    background: #000000; 
    color: #666666;
}		

canvas { 
    border: 1px solid #333333; 
}

#outer {
    position: absolute;
    left: 0px;
    top: 0px;
}

#canvasContainer {
    position: absolute;
    left: 0px;
    top: 0px;
}

